{% extends "tales/base.html" %}
{% load staticfiles %}

{% block content %}
    <template id="page-home">
        <div>
            <div class="row">
                <section id="tagline-slider" class="eight columns padding-50" style="min-height:200px;">
                    <h3>Why just stop at volunteering,<br/>teach your story. <span style="color:#662D91;">#sharewhatyouknow</span></h3>
                    <!--<h3 data-slidr="2">It is a space where we recognize that everybody’s story or prior knowledge can play a part towards making a change.</h3>
                    <h3 data-slidr="3">This program is open to all and designed to reach rural and underprivileged communities. Help us, spread the word, #sharewhatyouknow #teachyourstory</h3>-->
                </section>
                <section class="four columns sign-up-box orange-bg padding-20 center" style="min-height:200px;">
                    <h5>Start changing the world</h5>
                    <a href="#volunteerRegistration" class="open-popup-link button button-primary">Sign up as a volunteer</a>
                    <a href="#projectRegistration" class="open-popup-link button button-primary">Sign up as a project</a>
                </section>
            </div>
        
            <div class="row">
				<div class="stepwizard">
				    <div class="stepwizard-row">
				        <div class="stepwizard-step">
				            <button type="button" class="btn-circle active" data-steptrigger="travel"><i class="fa fa-plane" aria-hidden="true"></i></button>
				            <p>travel</p>
				        </div>
				        <div class="stepwizard-step">
				            <button type="button" class="btn btn-primary btn-circle" data-steptrigger="teach"><i class="fa fa-graduation-cap" aria-hidden="true"></i></button>
				            <p>teach</p>
				        </div>
				        <div class="stepwizard-step">
				            <button type="button" class="btn btn-primary btn-circle" data-steptrigger="rewards"><i class="fa fa-money" aria-hidden="true"></i></button>
				            <p>rewards</p>
				        </div>
				        <div class="stepwizard-step">
				            <button type="button" class="btn btn-default btn-circle" data-steptrigger="share"><i class="fa fa-book" aria-hidden="true"></i></button>
				            <p>share</p>
				        </div> 
				    </div>
				</div>
				<div id="step-slider">
			    	<p data-slidr="travel">Travel the world and make an educational impact</p>
					<p data-slidr="teach">Teach your experiences, we help you  leave behind your knowledge while volunteering</p>
					<p data-slidr="rewards">Get rewards while you travel so you can prolong your impactful journey</p>
					<p data-slidr="share">Share your knowledge with us, so we can create education accessibility for all</p>
			    </div>
		    </div>
            
            <div class="row no-margin-bottom">
                <div class="twelve columns">
                    <section id="home-slider" class="slider">
                        {% for tale in tales|slice:"0:1" %}
                            <div data-slidr="reading" class="cover-image" style="background-image: url('static/tales/{{tale.header_img}}')">
                                <h2>The Tale of</h2>
                                <h1>{{ tale.title }}</h1>
                                <a href="/tales/{{ tale.id }}"><button class="button">Read This Tale</button></a>
                            </div>
                        {% endfor %}
                    </section>
                </div>
            </div>
        
            <section class="all-tales padding-10 center">
                <a class="button no-margin-bottom tales-trigger">Explore all tales</a>
                <div class="tales-container hidden">
                    <div class="row">
                    {% for tale in tales %}
                        {% if forloop.counter|divisibleby:"4" %}
                        </div>    
                        <div class="row">
                        {% endif %}
                        <div class="tale-button cover-image four columns" style="background-image: url('static/tales/{{tale.header_img}}')"><h4>{{tale.title}}</h4></div>
                    {% endfor %}
                    </div>
                </div>
            </section>
        
            <div class="row">
                <section class="eight columns offset-by-two">
                    <h4>Frequently Asked Questions</h4>
                    <p class="no-margin hidden"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus, purus semper pellentesque auctor, mi felis faucibus lectus, eu rutrum purus enim nec purus. Sed fringilla, </p>
                    <ul class="faq">
                        <li class="q">What is Talespace?</li>
                        <li class="a open"><a href="#donateModal" class="open-popup-link">Dontate</a> TaleSpace is a sustainability educational volunteering program focusing on knowledge sharing & education impact. We help volunteers use their own knowledge as the tool to empower a mission towards sustainability. . It is a space where everybody’s experience or story plays a part. A story of an individual can be shared as an applicable skill in a community. This guided program is open to all and designed to reach rural and underprivileged communities.</li>
                        
                        <li class="q">What is our mission?</li>
                        <li class="a">To create “spaces” all around the world with the reach of sustainable knowledge and to enable travelers/to-be-travelers, start sharing sustainable knowledge & be rewarded while doing so.</li>
                        
                        <li class="q">How does it work?</li>
                        <li class="a">All is welcome to join in our program. We will guide you on what prior knowledge you have and help transfer it as a skill to impact another. A volunteer who joins us is called a TaleMaster. A TaleMaster will be matched to hosts called Missions according to there knowledge or skill.</li>
                        
                        <li class="q">Can I help in other ways?</li>
                        <li class="a">Yes, support our education movement by sharing posts from our social media pages, share our hashtags #sharewhatyouknow #teachyourstory; Tell your friends or family to share their knowledge with us online, so we can create more open source knowledge for all. We also provide specialty training and workshops. Our mandate; with every service we offer, upto 80% of its proceeds will be channeled to our featured monthly missions. Contact us at marketing@talespace.co to know more or get your CSR Team involved in this.</li>
                        
                        <li class="q">Why do we call our volunteers TaleMasters?</li>
                        <li class="a">Our program aims to highlight that today volunteers can offer more & leave an impact if guided. We want to guide you to achieve this. We believe every individual has the knowledge to offer base on their different backgrounds and experiences. This means our stories can be valuable, thus the name a TaleMaster. Convince? Join us now, if you have a skill or knowledge, or if you would love to try your hands in teaching and sharing it. We want to reward you too! With your help we would like to build a global knowledge sharing community and to reach out to the underprivileged.</li>
                        
                        <li class="q">How do you define the Missions, how do i qualify if i have a project with social good objective but without an NGO license?</li>
                        <li class="a">If you are have a social good project (without license) without a team, an NGO of any scale, a small local business, or even a social enterprise like us, you’re definitely a Mission that fits here. Let us know by signing up, what knowledge or skills you need for your project. We will then match you with our TaleMasters. You will get to lessen your challenges with new skills and knowledge from them. We are different because we guide the TaleMasters to leave behind their knowledge for you to be empowered and continue growing your project.</li>
                    </ul>
                </section>
            </div>
        </div>
    </template>
{% endblock %}
