{% extends "tales/base.html" %}
{% load staticfiles %}

{% block content %}
<template id="page-story-reading">
	<article>
		<div class="container">
			<div class="row">
				<section>
					<h2>All Tales</h2>
					<table class="table">
						<thead>
							<tr>
								<th></th>
								<th>Title</th>
								<th>Author</th>
								<th>Location</th>
								<th>Details</th>
							</tr>
						</thead>
						<tbody>
							{% for tale in tales %}
								<tr>
									<td>
										<img src="/static/tales{{ tale.header_img }}" 
												alt="tale image" 
												width='100px' 
												height='100px'>
									</td>
									<td>{{ tale.title }}</td>
									<td>{{ tale.author.user.get_full_name }}</td>
									<td><!--{{ tale.author.city }}, -->{{ tale.author.country.name }}</td>
									<td>
										<a href="/tales/{{ tale.id }}"><button class="btn btn-md btn-info">Details</button></a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</section>
			</div>
		</div>
	</article>
</template>
{% endblock %}
